<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>

    <ion-icon slot="end" name="camera" (click)="photoService.selectImage()"></ion-icon>
    <ion-icon slot="end" name="trash" (click)="photoService.deleteImage()" *ngIf="photoService.arrSelected.length != 0">
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-toolbar slot="fixed">
    <ion-segment [(ngModel)]="galleryType">
      <ion-segment-button value="regular">
        Regular
      </ion-segment-button>
      <ion-segment-button value="pinterest">
        Pinterest
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="galleryType" style="margin-top: 20px;">
    <!-- Responsive Layout with Ion Grid-->
    <ion-grid *ngSwitchCase="'regular'">
      <ion-row>
        <ion-col *ngFor="let objImg of photoService.arrPhotos">
          <div class="photo-thumbnail">
            <ion-thumbnail [ngClass]="{'overlay-image': objImg.IsSelect}"
              (click)="photoService.selectMultipleImage(objImg)">
              <ion-img [src]="objImg.Path"></ion-img>
            </ion-thumbnail>
            <ion-icon name="checkmark" *ngIf="objImg.IsSelect"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- More Pinterest floating gallery style -->
    <div class="images" *ngSwitchCase="'pinterest'">
      <div class="one-image" *ngFor="let objImg of photoService.arrPhotos">
        <ion-img [src]="objImg.Path"></ion-img>
      </div>
    </div>
  </div>
</ion-content>